<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="10140">
        <setting id="gpio_pin" type="number" default="17" label="32021"/>
		<setting id="start_cooling" type="slider" default="60" range="60,1,70" option="int" label="32022" />
		<setting id="stop_cooling" type="slider" default="50" range="40,1,55" option="int" label="32023" />
	</category>
</settings>
